@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-zns-teal: #069593;
  --color-zns-cream: #f2efde;
  --color-zns-mint: #14e08e;
  --color-zns-dark: #050505;
  --color-zns-dark-teal: #022c2b;

  --font-sans: var(--font-outfit);
  --font-display: var(--font-cormorant);

  --animate-spin-slow: spin 8s linear infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes border-beam {
    0% {
      offset-distance: 0%;
    }

    100% {
      offset-distance: 100%;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  --animate-marquee: marquee 30s linear infinite;
}

:root {
  --background: #050505;
  --foreground: #f2efde;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }

  .glass-liquid {
    @apply bg-white/5 backdrop-blur-2xl border border-white/10 shadow-[0_8px_32px_0_#1f26875e] backdrop-saturate-150;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01));
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .stroke-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: transparent;
  }
}

body {
  background: radial-gradient(circle at 50% -20%, #020a0a 0%, #010303 40%, #000000 100%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
}

/* Noise Texture */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.03'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 9999;
  opacity: 0.4;
}

html,
body,
a,
button,
[role="button"] {
  cursor: none;
}

/* Selection Color */
::selection {
  background-color: var(--color-zns-mint);
  color: var(--color-zns-dark);
}